<div style="background-color: rgb(248, 246, 242); height: 70px; margin-top: 12px;">

  <button mat-button fxFlex> <mat-icon>facebook</mat-icon>&nbsp;facebook</button>
   <button mat-button fxFlex> Instagram</button>
     <button mat-button fxFlex> Twitter</button>
         <button mat-button fxFlex> LinkedIn</button>
            <button mat-button fxFlex><mat-icon>gmail</mat-icon> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Gmail</button>
    <button mat-button fxFlex> Youtube</button>
       <button mat-button fxFlex> <mat-icon></mat-icon>Whatsap</button>
</div>
