<div style="background-color: #F47A2F; color: aliceblue; height: 70px; margin-top: 2px; padding: 10px;">
  <div fxFlex>
    <span class="fill" routerLink="schools" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 25px; color: #F47A2F; margin-left: 21px;"><b>TELA</b></span>
    <a mat-button routerLink="schools" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 18px;">TELA School</a>
    <a mat-button routerLink="health" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 18px;">TELA Health</a>
    <a mat-button routerLink="vaccination" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 18px;">TELA Vaccination</a>
    <a mat-button routerLink="about" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 18px; margin-right: 10px;">About</a>
    <button mat-raised-button color="primary" routerLink="mail us" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 18px; background-color: #47423f;"> Email Us</button>
  </div>

  <div>
  <button mat-button> <mat-icon>facebook</mat-icon>&nbsp;facebook</button>
     <button mat-button> Twitter</button>
         <button mat-button> LinkedIn</button>
    <button mat-button> Youtube</button>
       <button mat-button>Whatsap</button>
</div>
</div>
