
<div>
  <mat-toolbar style="background-color: #F47A2F; height: 100px; color: azure; font-size: 25px;">
      <span class="fill" routerLink="schools"  style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 23px; color: black;"><mat-icon>eco</mat-icon><b>TEACHER's EFFECTIVENESS & LEARNER's ACHIEVENESS</b></span>
    </mat-toolbar>

    <mat-toolbar color="secondary" class="mat-elevation-z8">
      <span class="fill" routerLink="schools" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 25px; color: #F47A2F; margin-left: 21px;"><b>TELA</b></span>
      <a mat-button routerLink="schools" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 18px;">TELA School</a>
      <a mat-button routerLink="health" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 18px;">TELA Health</a>
      <a mat-button routerLink="vaccination" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 18px;">TELA Vaccination</a>
      <a mat-button routerLink="about" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 18px; margin-right: 10px;">About</a>
      <button mat-raised-button color="primary" routerLink="mail us" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 18px; background-color: #F47A2F;"> Email Us</button>
    </mat-toolbar>


