<div fxLayout>
  <div fxFlex>
    <span >
      <p style="text-align: center; margin-top: 13px;">
        <img src="/assets/img/login.png " width="65%" height="50%" class="img-fluid z-depth-1" alt="1">
      </p>
      </span>
  </div>

  <div fxFlex>
    <span>
      <p style="text-align: center; font-size: 20px; margin-top: 153px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
        Spirometry (spy-ROM-uh-tree) is a common office test used to assess how well your lungs work
         by measuring how much air you inhale, how much you exhale and how quickly you exhale. Spirometry is used to diagnose asthma, chronic obstructive pulmonary disease (COPD)
         and other conditions that affect breathing.<br><br>

          Spirometry (spy-ROM-uh-tree) is a common office test used to assess how well your lungs work
          by measuring how much air you inhale, how much you exhale and how quickly you exhale. Spirometry is used to diagnose asthma, chronic obstructive pulmonary disease (COPD)
          and other conditions that affect breathing.<br><br>
      </p>
      </span>
  </div>

  <div fxFlex>
    <span >
      <p style="text-align: center; margin-top: 13px;">
        <img src="/assets/img/regtype.png " width="65%" height="50%" class="img-fluid z-depth-1" alt="1">
      </p>
      </span>
  </div>

</div>

<div fxLayout>
  <div fxFlex>
    <span>
      <p style="text-align: center; margin-top: 14px;" >
        <img src="/assets/img/temp.png " width="60%" height="25%" class="img-fluid z-depth-1" alt="1">
      </p>
      </span>
  </div>
  <div fxFlex>
    <span >
      <p style="text-align: center; margin-top: 13px;">
        <img src="/assets/img/pressure.png " width="80%" height="100%" class="img-fluid z-depth-1" alt="1">
      </p>
      </span>
  </div>

  <div fxFlex>
    <span>
      <p style="text-align: center; margin-top: 14px;" >
        <img src="/assets/img/temp.png " width="60%" height="25%" class="img-fluid z-depth-1" alt="1">
      </p>
      </span>
  </div>

</div>

